<div class="mt-4">
    <div class="row">

        {{#each kols}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card-kol-item">
                <img class="card-img-top" src="{{this.imageUrl}}" alt="{{this.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.followers}}</p>
                    <a href="/kol?id={{this._id}}" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>